<table>
  <tbody>
    <tr>
      <td>Original URL:</td>
      <td><%= @shortened_url.url %></td>
    </tr>
    <tr>
      <td>Shortened URL:</td>
      <td><input type="text" id="shortened_url" value="<%= @shortened_url.full_shortened_url %>" /></td>
    </tr>
  </tbody>
</table>
