<table class="api_credentials">
  <tbody>
    <tr>
      <td>API Key:</td>
      <td><%= @api_credential.api_key %></td>
    </tr>
    <tr>
      <td>API Secret:</td>
      <td><%= @api_credential.api_secret %></td>
    </tr>
  </tbody>
</table>

